@font-face {
	font-family: "Camila";
	src: url("../fontes/Greyfox.otf");
}
body, html {
    height: 100%;
    width: 100%;
    font: 16px "Lato", small-caption;
    color: #9400D3;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.redes-sociais {
    display: inline;
    float: left;
    width: 100%;
    height: 90%;
    margin-top: 110px;
    letter-spacing: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
}

.github, .linkedin{
    border: none;
    background-color:#E6CBFF;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.instagram:hover, .github:hover, .linkedin:hover{
    background-color:#9400D3;
}

.github {
    background-image: url(../icon/icons8-github-240.png);
    background-size: 80px;
}

.linkedin {
    background-image: url(../icon/icons8-linkedin-480.png);
    background-size: 80px;
}

.Snd-andar {
    margin-top: 20px;
    right: 50%;
}
@media (max-width: 675px){
    .redes-sociais {
        width: 100%;
        height: 50%;
    }
}
@media (min-width: 675px){
    
}